<div class="timer_content">
  <div class="time">
    <div id="stopwatch">00:00:00.000</div>
  </div>

  <div class="btn_area">
    <div class="btns">
      <button class="btn start_stopwatch active">START</button>
      <button class="btn stop_stopwatch">STOP</button>
    </div>
    <button class="btn reset_stopwatch">RESET</button>
    <button class="btn boost">
        <img src="../img/boost_icon2.svg" class="boost_icon">
    </button>
  </div>

  <div class="boost_area"></div>
</div>

<script src="../JS/stopwatch.js"></script>
