<div class="timer_content">
  <div class="time">
    <input type="number" min="0" max="99" value="00" id="hours"> : 
    <input type="number" min="0" max="59" value="00" id="minutes"> : 
    <input type="number" min="0" max="59" value="00" id="seconds">
  </div>
  <div class="btn_area">
    <div class="btns">
      <button class="btn start active">START</button>
      <button class="btn stop">STOP</button>
    </div>
    <button class="btn reset">RESET</button>
  </div>
</div>

<script src="../JS/timer.js"></script>
